.About{
    /* background-color: var(--blueMed);
    background-image: url(../../../../public/images/about/aboutBgGlow.webp); */
    background-repeat: no-repeat;
    background-position:top;
    
  }
  .flwp{
    color: #000 !important;
  }
  .about-section {
    margin: 20px auto;
  
    padding: 50px;
    max-width: 1090px;
    text-align: center;
    background-color: #437fee;
    box-shadow: 0 4px 8px 0 #0070fb;
    color: white;
    border-radius: 20px;
  }
  
  .padMain {
    margin: auto;
    max-width: 1143px;
    background-color: #FBFAF5;
   
  }
  .innerpadmain{
    max-width: 1130px;
    padding: 20px 19px;
    box-shadow: 0 4px 18px 0 #0070fb;
    justify-content: center;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 30px;
  }
  
  .About .modal-body{
    padding:2;
    background-color: #eee;
  }
  
  .aboutLeftContentSection h2{
    margin:20px 0px;
  }
  
  .videoSection{
    padding:0 10px;
  }
  
  .innerVideoSection{
    width: 100%;
    height:100%;
    border-radius: 8px;
    /* background-image: url(../../../../public/images/campus/16.webp); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .innerVideoSection .overlay{
    background-color:rgba(0, 0, 0, 0%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .innerVideoSection .overlay .videoPlayBtn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .innerVideoSection .overlay .videoPlayBtn .fa-solid{
    font-size: 25px;
    color: var(--redClr);
  }
  
  .videoPlayBtn:before ,.videoPlayBtn:after{
    content: "";
    position: absolute;
    top:-10px;
    left:-10px;
    bottom:-10px;
    right:-10px;
    border:2px solid var(--redClr);
    border-radius: 50%;
    animation: animate 1s linear infinite;
    opacity: 0;
  }
  
  .videoPlayBtn:after{
    animation-delay: .5s;
  }
  
  /* footer */
  .Footer{
    background-color: #120f2d;
  }
  .mainfooter{
    border-bottom: 1px solid #2a2742;
    padding-bottom: 20px;
    
  }
  
  @keyframes animate{
    0%{
        transform: scale(.8);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.7);
    }
  }
  
  @media (max-width:768px) {
    .innerVideoSection .overlay .videoPlayBtn{
        margin:25vw auto;
    }
  }
  /* new css importd */
  /* Three columns side by side */
  /* .row{
   
  margin: 15px ;
  } */
  .rowabout{
    --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) * -.5);
      margin-left: calc(var(--bs-gutter-x) * -.5);
  }
  .column {
    float: left;
   
    width: 70%;
    /* margin-bottom: 16px; */
    margin: 20px;
    margin-right: 20px;
    padding: 0 8px;
   
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    /* /* .column {
      /* width: 100%; */
      /* display: block;
    } */  
    .card{
      flex-wrap: wrap;
    }
  
   
    .author-info {
      width: 90%;
      
     }
  
  .author-info img {
     width: 200px
     
    }
  }
  
  @media screen and (max-width: 1000px) {
    .column {
      /* width: 100%; */
      /* display: block; */
      width: 90%;
    }
   
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    /* margin-right: 41px; */
    flex-direction: row;
    margin-left: 30px;
    box-shadow: 0 4px 20px 0 #0070fb;
    min-height: 345px;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  .author-info{
    display: flex;
    flex-direction: column;
  }
  .author-info img{
    border-radius: 20px;
    width: 230px;
   
  height:220px;
  margin: 20px;
  }
  .author-links{
  display: flex;
  flex-direction: row;
  margin: 1px 0px 1px 9px;
  }
  .links{
  color: black;
  margin: -3px;
  }
  .author-links .thirdlinks{
  color: black;
  margin: -3px;
  }
  .thirdlinks:hover{
  transform: scale(1.2);
  color: rgb(218, 8, 8);
  }
  .links:hover{
  transform: scale(1.2);
  
  }